{% extends "base.html" %}

{% load wagtailcore_tags django_htmx static wagtailimages_tags i18n %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

    {% include_block page.header %}

    <!-- optionally define the sidebar content via HTML markup -->
    <div id="sidebar" class="leaflet-sidebar collapsed">

        <!-- nav tabs -->
        <div class="leaflet-sidebar-tabs">
            <!-- top aligned tabs -->
            <ul role="tablist">
                <li><a href="#home" role="tab"><i class="fa-solid fa-bars active mx-1"></i></a></li>
                <li>
                    <a href="#temp" class="show_button" role="tab"
                       hx-get="hexmap?ressource_path=Temperatur"
                       hx-target="#temp_graph"
                       hx-swap="innerHTML swap:1s"
                       id="temp_map_link">
                        <i class="fa-solid fa-temperature-low"></i>
                    </a>
                </li>
                <li>
                    <a href="#dust" class="show_button" role="tab"
                       hx-get="hexmap?ressource_path=PM10&colorscale=GnBu"
                       hx-target="#dust_graph"
                       hx-swap="innerHTML swap:0.6s"
                       id="dust_map_link">
                        <i class="fa-solid fa-sun-haze"></i>
                    </a>
                </li>
                <li>
                    <a href="#refreshing" class="show_button" role="tab"
                       hx-get="erfrischungskarte/14Uhr/"
                       hx-target="#refreshing_graph"
                       hx-swap="innerHTML swap:0.6s"
                       id="refreshing_map_link">
                        <i class="fa-solid fa-glass-citrus"></i>
                    </a>
                </li>
                <li>
                    <a href="#show_by_tag" class="show_button" role="tab"
                       hx-get="show_by_tag/all?template=base_single_grouptag"
                       hx-target="#show_by_tag_graph"
                       hx-swap="innerHTML swap:0.6s"
                       id="show_by_tag_link">
                        <i class="fa-solid fa-tag"></i>
                    </a>
                </li>

                <li>
                    <a href="#compare_sensors_section" role="tab">
                        <i class="fa-solid fa-code-compare"></i>
                    </a>
                </li>
            </ul>

            <ul role="tablist">
                <li><a href="#settings" role="tab"><i class="fa-solid fa-gear"></i></a></li>
            </ul>

        </div>

        <!-- panel content -->
        <div class="leaflet-sidebar-content">
            <div class="leaflet-sidebar-pane" id="home">
                <h1 class="leaflet-sidebar-header">
                    Humboldt Explorers - SenseBox
                    <span class="leaflet-sidebar-close"><i class="fa-solid fa-xmark"></i></span>
                </h1>


                {% for block in page.body %}
                    {% include_block block %}
                {% endfor %}

                <p>
                    Hier habt ihr die Möglichkeit euch die Umweltdaten von SenseBoxen anzuschauen.
                </p>

                {#                <div id="sensebox_graph"></div>#}

            </div>

            <div class="leaflet-sidebar-pane" id="temp">
                <h1 class="leaflet-sidebar-header">
                    {% translate 'Temperatur im Verlauf der letzten 48 Stunden' %}
                    <span class="leaflet-sidebar-close"><i class="fa-solid fa-xmark"></i></span>
                </h1>

                <div class="spinner" id="temp_graph" style="height: 80vh; position: relative;"></div>
            </div>

            <div class="leaflet-sidebar-pane" id="dust">
                <h1 class="leaflet-sidebar-header">
                    {% translate 'Feinstaubwerte im Verlauf der letzten 48 Stunden (PM10)' %}
                    <span class="leaflet-sidebar-close"><i class="fa-solid fa-xmark"></i></span>
                </h1>

                <div class="spinner" id="dust_graph" style="height: 80vh; position: relative;"></div>

            </div>

            <div class="leaflet-sidebar-pane" id="refreshing" style="height: 100vh;">
                <h1 class="leaflet-sidebar-header">
                    {% translate 'Berliner Wärmeinseleffekt' %}
                    <span class="leaflet-sidebar-close"><i class="fa-solid fa-xmark"></i></span>
                </h1>

                <div class="btn-group mt-4 erfrischungskarte" role="group" aria-label="Uhrzeit Auswahl">
                    {% with times='9 10 11 12 13 14 15 16 17 18 19 20 21' %}
                        {% for hour in times.split %}
                            <a type="button" class="btn btn-outline-primary"
                               hx-get="erfrischungskarte/{{ hour }}Uhr/"
                               hx-target="#refreshing_graph"
                               hx-swap="innerHTML swap:0.6s">{{ hour }} Uhr</a>
                        {% endfor %}
                    {% endwith %}

                    <a type="button" class="btn btn-outline-primary"
                       hx-get="{% url 'erfrischungskarte_animation' %}"
                       hx-target="#refreshing_graph"
                       hx-swap="innerHTML swap:0.6s">
                        <i class="fa-solid fa-rotate-left"></i>
                    </a>
                </div>


                <div class="spinner" id="refreshing_graph"></div>

            </div>

            <div class="leaflet-sidebar-pane" id="show_by_tag">
                <h1 class="leaflet-sidebar-header">
                    Live vor Ort – Sensordaten am Standort
                    <span class="leaflet-sidebar-close"><i class="fa-solid fa-xmark"></i></span>
                </h1>
                <div class="spinner" id="show_by_tag_graph"></div>
            </div>

            <div class="leaflet-sidebar-pane" id="compare_sensors_section">
                <h1 class="leaflet-sidebar-header">
                    {% translate 'Live im Vergleich – Sensordaten über Standorte hinweg' %}
                    <span class="leaflet-sidebar-close"><i class="fa-solid fa-xmark"></i></span>
                </h1>

                {#                <div class="spinner" id="compare_sensors_graph"></div>#}

                <div class="container">
                    <div class="row my-4">

                        <div class="col-12 col-md-6 my-4 d-flex" id="compare_sensors_graph_load_button">
                            <div class="card bg-info d-flex justify-content-center align-items-center w-100" style="--bs-bg-opacity: .1; border: 4px dashed #000;">

                                <button class="btn p-5 rounded-circle btn-lg bg-white"
                                        hx-get="show_by_tag/all?tag=Futurium&template=compare_dashboard"
                                        hx-target="#compare_sensors_graph_load_button"
                                        hx-swap="beforebegin">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-plus spinner-icon" viewBox="0 0 16 16">
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                                    </svg>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="leaflet-sidebar-pane" id="settings">
                <h1 class="leaflet-sidebar-header">
                    {% translate 'Einstellungen' %}
                    <span class="leaflet-sidebar-close"><i class="fa-solid fa-xmark"></i></span>
                </h1>

                <a type="button" class="show_button btn btn-outline-dark m-2" href="/cms" target="_blank">
                    {% translate 'CMS' %}
                </a>

                <br>

                <a type="button" class="show_button btn btn-outline-dark m-2" href="/admin" target="_blank">
                    {% translate 'Admin Panel' %}
                </a>

                <br>

                <a type="button" class="show_button btn btn-outline-dark m-2" href="/s/" target="_blank">
                    {% translate 'Eigene Diagramme erstellen' %}
                </a>

                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle m-2" type="button" id="dropdownSinglePageUrls" data-bs-toggle="dropdown" aria-expanded="false">
                        Direkt URLs zu den Grafiken
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownSinglePageUrls">
                        {% with times='9 10 11 12 13 14 15 16 17 18 19 20 21' %}
                            {% for hour in times.split %}
                                <li><a class="dropdown-item" href="s/erfrischungskarte/{{ hour }}Uhr/" target="_blank">Wärmeinsel {{ hour }} Uhr</a></li>
                            {% endfor %}
                        {% endwith %}
                        <li><a class="dropdown-item" href="{% url 'erfrischungskarte_animation' %}" target="_blank">Wärmeinsel Animation <i class="fa-solid fa-rotate-left"></i></a></li>
                    <hr>
                        <li><a class="dropdown-item" href="s/show_by_tag/all?template=base_single_grouptag" target="_blank">Live vor Ort – Sensordaten am Standort</a></li>
                    <hr>
                    <li><a class="dropdown-item" href="s/show_by_tag/all?template=compare_dashboard" target="_blank">Live im Vergleich – Sensordaten über Standorte hinweg</a></li>
                    </ul>
                </div>

            </div>

        </div>
    </div>

    <div class="modal fade" id="single_sensebox_Modal" tabindex="-1" aria-labelledby="single_sensebox_Modal_Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="single_sensebox_Modal_Label">{% translate 'SenseBox Daten' %}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="sensebox_graph"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate 'Schließen' %}</button>
                </div>
            </div>
        </div>
    </div>


    <div id="map">

        <script>

            // https://leafletjs.com/examples/layers-control/

            var arial = L.tileLayer(`maptiler_satellite_v2/{z}/{x}/{y}`, {
                tileSize: 512,
                zoomOffset: -1,
                maxZoom: 21,
                minZoom: 10,
                attribution: "\u003ca href=\"https://www.maptiler.com/copyright/\" target=\"_blank\"\u003e\u0026copy; MapTiler\u003c/a\u003e \u003ca href=\"https://www.openstreetmap.org/copyright\" target=\"_blank\"\u003e\u0026copy; OpenStreetMap contributors\u003c/a\u003e",
                crossOrigin: true
            });

            const osm = L.tileLayer('osm_tiles/{z}/{x}/{y}', {
                maxZoom: 19,
                minZoom: 10,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            });

            var osmb = new OSMBuildings(map).load('osm_buildings/{z}/{x}/{y}');

            baseMaps = {
                "{% translate 'Karte' %}": osm,
                "{% translate 'Satellit' %}": arial,
            }

            // define empty overlayMaps, to be able to enter a unchecked osmb
            overlayMaps = {};

            // the map is created here
            var map = L.map('map', {
                center: [52.516221, 13.3992],
                zoom: 11,
                layers: [osm], // define, what should be shown first
            });

            var layerControl = L.control.layers(baseMaps, overlayMaps).addTo(map);

            layerControl.addOverlay(osmb, '{% translate "Gebäude" %}');

            var blueIcon = new L.Icon({
                iconUrl: '{% static 'icons/marker-icon-blue.png' %}',
                shadowUrl: '{% static 'icons/marker-shadow.png' %}',
                iconSize: [25, 41],
                iconAnchor: [12, 41],
                popupAnchor: [1, -34],
                shadowSize: [41, 41]
            });

            var greyIcon = new L.Icon({
                iconUrl: '{% static 'icons/marker-icon-grey.png' %}',
                shadowUrl: '{% static 'icons/marker-shadow.png' %}',
                iconSize: [25, 41],
                iconAnchor: [12, 41],
                popupAnchor: [1, -34],
                shadowSize: [41, 41]
            });

            var lc = L.control.locate({
                flyTo: true,
                initialZoomLevel: 19,
            }).addTo(map);
        </script>

        {{ map_scripts|safe }}

        <script>
            // create the sidebar instance and add it to the map
            var sidebar = L.control.sidebar({
                container: 'sidebar',
                position: 'left',
            }).addTo(map);
            {#.open('home');#}

            // be notified when a panel is opened
            sidebar.on('content', function (ev) {
                switch (ev.id) {
                    case 'autopan':
                        sidebar.options.autopan = true;
                        break;
                    default:
                        sidebar.options.autopan = false;
                }
            });
        </script>

        <script>
            var refreshingSpinner = document.getElementsByClassName('show_button');

            function showSpinner() {
                var targets = document.getElementsByClassName('spinner');

                for (let i = 0; i < targets.length; i++) {
                    targets[i].innerHTML = `<div class="d-flex flex-column justify-content-center align-items-center vh-80"><div class="spinner-border" role="status" style="width: 6rem; height: 6rem;"><span class="visually-hidden">Loading...</span></div><strong role="status" class="mt-3">Lade Daten ...</strong></div>`;
                }
            }

            for (let i = 0; i < refreshingSpinner.length; i++) {
                refreshingSpinner[i].addEventListener("click", function (event) {
                    showSpinner();
                });
            }


            document.addEventListener("htmx:afterSettle", function () {
                window.dispatchEvent(new Event('resize'));
            });

            // show primary buttons as active, when selecting them
            // Only for erfrischungskarte

            document.addEventListener("htmx:afterRequest", function (evt) {
                const target = evt.detail.elt;

                const group = target.closest(".erfrischungskarte");
                  if (!group) return;  // ignore other buttons

                  group.querySelectorAll(".btn").forEach(btn => {
                    btn.classList.remove("active", "btn-primary");
                    btn.classList.add("btn-outline-primary");
                  });

                  target.classList.add("active", "btn-primary");
                  target.classList.remove("btn-outline-primary");
            });

        </script>
    </div>

{% endblock %}
