.git
.env
*.env
.DS_Store
.idea
.env.dev
.env.prod
__pycache__

*.pem
*.key
*.crt

CACHE
/static

# include this file!
!datalab/static/

upload.sh
db.sqlite3
app.log
new_data.log
exclude_list.txt

# complete dev files
media/
Tooling/dev
compose.yml
dev.py

dbbackup.sh
dbbackups/
node_modules/
datalab/data