{
	# email to use on Let's Encrypt
	email benb@posteo.de
	# Uncomment for debug
	#acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
	#debug
}

:80 {
    encode zstd gzip

    reverse_proxy sensebox:8000

    handle_path /media/images/* {
        root * /media
        file_server
    }
    handle_path /static/* {
        root * /static
        file_server
    }
}