<div class="col">
    <b>{{ description }}</b>
    <select class="form-select" aria-label="{{ name }}"
            hx-get="/url_string_generator"
            hx-trigger="change"
            hx-swap="outerHTML"
            hx-target="#play-button"
            hx-vals="js:{ {{ name }}: event.target.value}">
        {% for item in item_list %}
            {% if item == selected %}
                <option selected value="{{ item }}">{{ item }}</option>
            {% else %}
                <option value="{{ item }}">{{ item }}</option>
            {% endif %}
        {% endfor %}
    </select>

{% if additional_info %}
    <div class="accordion accordion-flush" id="accordion{{ name }}">
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading{{ name }}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ name }}" aria-expanded="true" aria-controls="collapse{{ name }}">
                    Info
                </button>
            </h2>
            <div id="collapse{{ name }}" class="accordion-collapse collapse" aria-labelledby="heading{{ name }}" data-bs-parent="#accordion{{ name }}">
                <div class="accordion-body">
                    {{ additional_info|safe }}
                </div>
            </div>
        </div>
    </div>
{% endif %}

</div>