:80 {
    # do not enable in production, when enabled in the proxy: encode

    reverse_proxy datalab:8000

    handle_path /media/* {
        root * /srv/media
        file_server
    }
    handle_path /static/* {
        root * /srv/static
        file_server
    }
}