Django
wagtail
dj-database-url
psycopg2-binary
whitenoise
django_cache_url

django-configurations

Pillow
django-environ

opencv-python
django-htmx

# SCSS Tools
django_compressor
django-libsass

# new async server
daphne

httpx # asynchronous HTTP client

channels[daphne] # for Django channels - needed for async, websockets, long-running connections
Twisted[tls,http2]

# Caching
redis[hiredis]
hiredis

celery

requests
dash
pandas
dash-bootstrap-components
influxdb-client
plotly

pyproj # transform coordinates, needed for refreshing_map
kaleido # create images from data plots
numpy # numeric calculations

pydantic # validate data
tenacity # retry lib for python
wagtail-localize