$empty: #004c90;
$empty: #bad580;
$empty: #6bbe98;
$empty: #56bfc6;
$empty: #5394d0;
$empty: #7d8bc5;
$empty: #9b78b4;
$empty: #e175ac;
$empty: #ec656b;
$empty: #f6a030;
$empty: #fbbd35;

$primary: #004c90;
$secondary: #bad580;
$info: #5394d0;
$success: #6bbe98;
$warning: #9b78b4;
$danger: #ec656b;

@import "../node_modules/bootstrap/scss/bootstrap";

@import "../node_modules/leaflet-sidebar-v2/css/leaflet-sidebar.css";

.leaflet-sidebar-header {
  background-color: $primary;
}

.leaflet-sidebar-tabs > li.active, .leaflet-sidebar-tabs > ul > li.active {
  background-color: $primary;
}

.position-relative {
  display: flex;
  align-items: stretch;
}

#refreshing_graph {
  flex: 1;
}


#refreshing_graph, #refreshing_graph > div, #refreshing_graph .plotly-graph-div {
  height: 100% !important;
  width: 100% !important;
}

html, body, #map {
  width: 100%;
  height: 100%;
  margin: 0;
}

// make the sidebar wider
.leaflet-sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  z-index: 2000;
}

.leaflet-sidebar.collapsed {
  width: 40px;
}

@media (min-width: 768px) {
  .leaflet-sidebar {
    top: 10px;
    bottom: 10px;
    transition: width 500ms;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .leaflet-sidebar {
    width: 100vw;
    max-width: 100vw;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .leaflet-sidebar {
    width: 99vw;
    max-width: 99vw;
  }
}

@media (min-width: 1200px) {
  .leaflet-sidebar {
    width: 99vw;
    max-width: 99vw;
  }
}

// force the inner div of the hexagon map to be full height
#temp_graph,
#dust_graph {
  height: 75vh;
  display: flex;
  flex-direction: column;
}

#temp_graph > div,
#dust_graph > div {
  flex: 1;
}

// cards
.card {
  border-radius: 1.5rem;
  padding: 1rem;
}

// maps on cards get round corners too
[id^="map_"] {
  border-radius: 1.5rem;
}

.accordion-body {
  width: 100%;
  display: block;
  overflow: hidden;
}

// spinning icon
.spinner-icon {
  transition: transform 0.2s ease-in-out;
}

.htmx-request .spinner-icon {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// rotating cards
.flip-card {
  perspective: 1000px;
  width: 250px;
  height: 350px;
  position: relative;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card .flipped .flip-card-front {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-back {
  background-color: #f8f9fa;
  transform: rotateY(180deg);
}