{% load wagtailcore_tags wagtailimages_tags wagtailembeds_tags static i18n %}

<div id="show_by_tag_graph" class="{{ unique_name }} m-4"> {# hx-swap-oob="true" hx-swap="outerHTML" #}

    {% if no_results_for_tag %}
        <div class="ms-4">
            <h1>{% blocktranslate %}Heute wurden noch keine Werte für "{{ no_results_for_tag }}" gemeldet.{% endblocktranslate %}</h1>
            <p>{% translate 'Wie wäre es stattdessen mit einem von denen hier?' %}</p>

            <div class="dropdown mt-4">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    {% translate 'Auswahl von Tags' %}
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    {% for this_tag in found_grouptags %}
                        <li>
                            <a type="button" class="show_button btn"
                               hx-get="/show_by_tag/all?tag={{ this_tag }}&template=base_single_grouptag"
                               hx-target="#show_by_tag_graph"
                               hx-swap="innerHTML swap:0.6s">
                                {{ this_tag }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    {% else %}
        <div class="ms-4">

            <div class="dropdown mt-4">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    {% translate 'Auswahl von Tags' %}
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    {% for this_tag in found_grouptags %}
                        <li>
                            <a type="button" class="show_button btn"
                               hx-get="/show_by_tag/all?tag={{ this_tag }}&template=base_single_grouptag"
                               hx-target="#show_by_tag_graph"
                               hx-swap="innerHTML swap:0.6s">
                                {{ this_tag }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="d-grid gap-2 d-md-block mt-4">
                <a type="button" class="show_button btn btn-outline-primary {% if box == 'all' %}active{% endif %}"
                   hx-get="/show_by_tag/all?tag={{ tag }}&template=base_single_grouptag"
                   hx-target="#show_by_tag_graph"
                   hx-swap="innerHTML swap:0.6s">
                    {% translate 'Alle Werte' %}
                </a>
                {% for box_name in name_list %}
                    <a type="button" class="show_button btn btn-outline-primary {% if box_name == box %}active{% endif %}"
                       hx-get="/show_by_tag/{{ box_name }}?tag={{ tag }}&template=base_single_grouptag"
                       hx-target="#show_by_tag_graph"
                       hx-swap="innerHTML swap:0.6s">
                        {{ box_name }}
                    </a>
                {% endfor %}
            </div>

            <div class="my-4">
                {% for tag in grouptag %}
                    {% if tag == 'Humboldt Explorers' %}
                        <span class="badge text-bg-primary">{{ tag }}</span>
                    {% else %}
                        <span class="badge text-bg-secondary">{{ tag }}</span>
                    {% endif %}
                {% endfor %}
            </div>
        </div>


        <div id="map_single_grouptag" style="width: 100%; height: 350px;"></div>

        <div id="single_grouptag_new_data"
             hx-get="/show_by_tag/{{ box }}?tag={{ tag }}&template=dashboard_single_grouptag"
             hx-trigger="every 60s"
             hx-swap="innerHTML"
             hx-target="#single_grouptag_new_data">

            {% include 'home/sub_templates/dashboard_single_grouptag.html' %}

        </div>

        <script>
            // some of these steps seems redundant, but they are necessary

            console.log('reloaded this script ...');

            var mapContainerId = "map_single_grouptag";

            // very important for the FIRST DRAW of the map
            var container = L.DomUtil.get(mapContainerId);
            if (container != null) {
                console.log(">>>>>>>>>>>>>>>> REMOVE CONTAINER map_single_grouptag");
                container._leaflet_id = null;
            }

            //  important to check, after the first load
            if (typeof window[mapContainerId] !== "undefined" && window[mapContainerId] !== null) {
                console.log(">>>>>>>>>>>>>>>> FOUND map_single_grouptag");
                const mapContainer = document.getElementById(mapContainerId);
                if (mapContainer) {
                    // remove map
                    console.log(">>>>>>>>>>>>>>>> REMOVE map_single_grouptag");
                    window[mapContainerId].off();
                    window[mapContainerId].remove();
                    mapContainer.innerHTML = "";
                }
            } //else

            // create a new osm_dash, to be able to use it now
            var osm_single_grouptag = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 22,
                minZoom: 10,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            });

            // the map_dash is created here
            var map_single_grouptag = L.map('map_single_grouptag', {
                center: [{{ lat }}, {{ lon }}],
                zoom: 18,
                layers: [osm_single_grouptag], // define, what should be shown first
            });

            var arial_single_grouptag = L.tileLayer(`/maptiler_satellite_v2/{z}/{x}/{y}`, {
                tileSize: 512,
                zoomOffset: -1,
                maxZoom: 22,
                minZoom: 10,
                attribution: "\u003ca href=\"https://www.maptiler.com/copyright/\" target=\"_blank\"\u003e\u0026copy; MapTiler\u003c/a\u003e \u003ca href=\"https://www.openstreetmap.org/copyright\" target=\"_blank\"\u003e\u0026copy; OpenStreetMap contributors\u003c/a\u003e",
                crossOrigin: true
            });

            var osmb_single_grouptag = new OSMBuildings().load('https://{s}.data.osmbuildings.org/0.2/59fcc2e8/tile/{z}/{x}/{y}.json');

            baseMaps_single_grouptag = {
                '{% translate "Karte" %}': osm_single_grouptag,
                '{% translate "Satellit" %}': arial_single_grouptag,
            }

            overlayMaps_single_grouptag = {};

            var layerControl_single_grouptag = L.control.layers(baseMaps_single_grouptag, overlayMaps_single_grouptag).addTo(map_single_grouptag)

            layerControl_single_grouptag.addOverlay(osmb_single_grouptag, '{% translate "Gebäude" %}');

            var blueIcon_single_grouptag = new L.Icon({
                iconUrl: '{% static 'icons/marker-icon-blue.png' %}',
                shadowUrl: '{% static 'icons/marker-shadow.png' %}',
                iconSize: [25, 41],
                iconAnchor: [12, 41],
                popupAnchor: [1, -34],
                shadowSize: [41, 41]
            });

            var marker_single_grouptag = L.marker([{{ lat }}, {{ lon }}], {icon: blueIcon_single_grouptag}).addTo(map_single_grouptag);

            // Popup-Content als DOM-Element und nicht als String
            marker_single_grouptag.bindPopup(function () {
                var container = document.createElement('div');
                container.innerHTML = `<b>Nur ein Platzhalter</b><br>
                {% translate "Der Marker zeigt den Mittelpunkt aller in diesem Dashboard dargestellten SenseBoxen an. Ist natürlich nur sinnvoll, wenn HU-Explorers Boxen auf einem Schulhof angezeigt werden." %}
                `;
                return container;
            });


            // remove old Plotly-Graphs before reload, otherwise every minute additional 300 mb of old graph data stores up
            document.addEventListener('htmx:beforeSwap', (event) => {
                purgeOldGraphs();
            });

            // function to call Plotly.purge()
            function purgeOldGraphs() {
                const graphDivs = document.querySelectorAll(`div[id^="single_location_graph_"]`);

                graphDivs.forEach((div) => {
                    const plotlyGraphs = div.querySelectorAll('.plotly-graph-div');
                    plotlyGraphs.forEach((graph) => {
                        Plotly.purge(graph);
                    });
                    div.remove();
                    console.log('single Location: purgeOldGraphs');
                });
            }

        </script>

    {% endif %}

    <div class="d-flex justify-content-end">
        {# URL button and modal #}
        <button type="button" class="btn rounded-circle m-4 p-1 bg-white" {# bottom-0 end-0 #}
                data-bs-toggle="modal"
                data-bs-target="#urlModal{{ unique_name }}Chooser"
                style="width: 32px; height: 32px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-code-slash" viewBox="0 0 16 16">
                <path d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0m6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0"/>
            </svg>
        </button>

        <!-- Modal -->
        <div class="modal fade" id="urlModal{{ unique_name }}Chooser" tabindex="-1" aria-labelledby="urlModal{{ unique_name }}LabelChooser" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="urlModal{{ unique_name }}LabelChooser">{% translate 'URL zu dieser Seite' %}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schließen"></button>
                    </div>
                    <div class="modal-body">
                        <a href="/s/show_by_tag/{{ box }}?tag={{ tag }}&template=base_single_grouptag" target="_blank">
                            {{ request.META.HTTP_HOST }}/s/show_by_tag/{{ box }}?tag={{ tag }}&template=base_single_grouptag
                        </a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>