{% load wagtailcore_tags wagtailimages_tags wagtailembeds_tags static i18n %}

<div class="col-12 col-md-6 align-self-stretch my-4 d-flex" id="compare_sensors_graph_{{ permanent_name }}">

    {% if box == 'all' %}

        <div class="card bg-info d-flex w-100" style="--bs-bg-opacity: .1; border: 4px dashed #000;">

            {#            <h3>{{ permanent_name }}</h3>#}

            <a type="button" class="btn position-absolute top-0 end-0 rounded-circle m-2 p-1 bg-white"
               hx-get="#"
               hx-target="#compare_sensors_graph_{{ permanent_name }}"
               hx-swap="delete"
               onclick="event.preventDefault(); sidebar.open('compare_sensors_section');">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                </svg>
            </a>

            <div class="dropdown me-5 ms-2 mt-2">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    {% translate 'Gruppe auswählen' %}
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    {% for this_tag in found_grouptags %}
                        <li>
                            <a type="button" class="show_button btn"
                               hx-get="show_by_tag/all?tag={{ this_tag }}&template=compare_dashboard&permanent_name={{ permanent_name }}"
                               hx-target="#compare_sensors_graph_{{ permanent_name }}"
                               hx-swap="outerHTML">
                                {{ this_tag }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="d-grid gap-2 d-md-block mb-5 mt-4 ms-2">
                {% for box_name in name_list %}
                    <a type="button" class="btn btn-info text-white me-1 mb-1"
                       hx-get="show_by_tag/{{ box_name }}?tag={{ tag }}&template=compare_dashboard&permanent_name={{ permanent_name }}"
                       hx-target="#compare_sensors_graph_{{ permanent_name }}"
                       hx-swap="outerHTML">
                        {{ box_name }}
                    </a>
                {% endfor %}
            </div>

            <button type="button" class="btn rounded-circle m-4 p-1 bg-white d-flex align-items-center justify-content-center position-absolute bottom-0 start-0"
                    data-bs-toggle="modal"
                    data-bs-target="#urlModal{{ unique_name }}Chooser"
                    style="width: 32px; height: 32px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-code-slash" viewBox="0 0 16 16">
                    <path d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0m6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0"/>
                </svg>
            </button>

            <!-- Modal -->
            <div class="modal fade" id="urlModal{{ unique_name }}Chooser" tabindex="-1" aria-labelledby="urlModal{{ unique_name }}LabelChooser" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="urlModal{{ unique_name }}LabelChooser">URL zu dieser Karte</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schließen"></button>
                        </div>
                        <div class="modal-body">
                            {{ request.META.HTTP_HOST }}/show_by_tag/{{ box }}?tag={{ tag }}&template=compare_dashboard
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    {% else %}

        <div class="card bg-info flex-fill" style="--bs-bg-opacity: .2">

            <a type="button" class="btn position-absolute top-0 end-0 rounded-circle m-2 p-1 bg-white"
               hx-get="#"
               hx-target="#compare_sensors_graph_{{ permanent_name }}"
               hx-swap="delete"
               onclick="event.preventDefault(); sidebar.open('compare_sensors_section');">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                </svg>
            </a>

            <div class="card-header bg-transparent border-0 ms-0">
                <h3 class="card-title">{{ box }} - {{ permanent_name }}</h3>
            </div>

            <div class="card m-2 p-0">
                <div id="map_{{ permanent_name }}" style="width: 100%; height: 200px;"></div>
            </div>

            <div id="compare_sensors_graph_new_data_{{ permanent_name }}"
                 hx-get="show_by_tag/{{ box }}?tag={{ tag }}&permanent_name={{ permanent_name }}&template=compare_with_modals"
                 hx-trigger="every 10s"
                 hx-swap="innerHTML"
                 hx-target="#compare_sensors_graph_new_data_{{ permanent_name }}">

                {% include 'home/sub_templates/compare_with_modals.html' %}
            </div>


            <button type="button" class="btn rounded-circle m-4 p-1 bg-white d-flex align-items-center justify-content-center position-absolute bottom-0 start-0"
                    data-bs-toggle="modal"
                    data-bs-target="#urlModal{{ unique_name }}Content"
                    style="width: 32px; height: 32px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-code-slash" viewBox="0 0 16 16">
                    <path d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0m6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0"/>
                </svg>
            </button>

            <!-- Modal -->
            <div class="modal fade" id="urlModal{{ unique_name }}Content" tabindex="-1" aria-labelledby="urlModal{{ unique_name }}LabelContent" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="urlModal{{ unique_name }}LabelContent">URL zu dieser Karte</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schließen"></button>
                        </div>
                        <div class="modal-body">
                            {{ request.META.HTTP_HOST }}/show_by_tag/{{ box }}?tag={{ tag }}&template=compare_dashboard
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
                        </div>
                    </div>
                </div>
            </div>

        </div> {# end card #}

        <script>
            // some of these steps seems redundant, but they are necessary

            //console.log("PERMANENT NAME: {{ permanent_name }}");

            var mapContainerId = "map_{{ permanent_name }}";

            // very important for the FIRST DRAW of the map
            var container = L.DomUtil.get(mapContainerId);
            if (container != null) {
                console.log(">>>>>>>>>>>>>>>> REMOVE CONTAINER map_{{ permanent_name }}");
                container._leaflet_id = null;
            }

            //  important to check, after the first load
            if (typeof window[mapContainerId] !== "undefined" && window[mapContainerId] !== null) {
                console.log(">>>>>>>>>>>>>>>> FOUND map_{{ permanent_name }}");
                const mapContainer = document.getElementById(mapContainerId);
                if (mapContainer) {
                    // remove map
                    console.log(">>>>>>>>>>>>>>>> REMOVE map_{{ permanent_name }}");
                    window[mapContainerId].off();
                    window[mapContainerId].remove();
                    mapContainer.innerHTML = "";
                }
            } //else

            // Check if Container still exist (never existed in this test)
            if (!document.getElementById(mapContainerId)) {
                console.log(`Container #${mapContainerId} not found. Redraw it now.`);
            } else {

                // create a new osm_dash, to be able to use it now
                var osm_{{ permanent_name }} = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 22,
                    minZoom: 10,
                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright" class="me-2">OpenStreetMap</a>'
                });

                // the map is created here
                var map_{{ permanent_name }} = L.map('map_{{ permanent_name }}', {
                    center: [{{ lat }}, {{ lon }}],
                    zoom: 18,
                    layers: [osm_{{ permanent_name }}], // define, what should be shown first
                });

                var arial_{{ permanent_name }} = L.tileLayer(`maptiler_satellite_v2/{z}/{x}/{y}`, {
                    tileSize: 512,
                    zoomOffset: -1,
                    maxZoom: 22,
                    minZoom: 10,
                    attribution: "\u003ca href=\"https://www.maptiler.com/copyright/\" target=\"_blank\"\u003e\u0026copy; MapTiler\u003c/a\u003e \u003ca href=\"https://www.openstreetmap.org/copyright\" class=\"me-2\" target=\"_blank\"\u003e\u0026copy; OpenStreetMap contributors\u003c/a\u003e",
                    crossOrigin: true
                });

                var osmb_{{ permanent_name }} = new OSMBuildings().load('https://{s}.data.osmbuildings.org/0.2/59fcc2e8/tile/{z}/{x}/{y}.json');

                baseMaps_{{ permanent_name }} = {
                    '{% translate "Karte" %}': osm_{{ permanent_name }},
                    '{% translate "Satellit" %}': arial_{{ permanent_name }},
                }

                overlayMaps_{{ permanent_name }} = {};

                var layerControl_{{ permanent_name }} = L.control.layers(baseMaps_{{ permanent_name }}, overlayMaps_{{ permanent_name }}).addTo(map_{{ permanent_name }})

                layerControl_{{ permanent_name }}.addOverlay(osmb_{{ permanent_name }}, '{% translate "Gebäude" %}');

                var blueIcon_{{ permanent_name }} = new L.Icon({
                    iconUrl: '{% static 'icons/marker-icon-blue.png' %}',
                    shadowUrl: '{% static 'icons/marker-shadow.png' %}',
                    iconSize: [25, 41],
                    iconAnchor: [12, 41],
                    popupAnchor: [1, -34],
                    shadowSize: [41, 41]
                });

                var marker_{{ permanent_name }} = L.marker([{{ lat }}, {{ lon }}], {icon: blueIcon_{{ permanent_name }}}).addTo(map_{{ permanent_name }});

                // Popup-Content als DOM-Element und nicht als String
                marker_{{ permanent_name }}.bindPopup(function () {
                    var container = document.createElement('div');
                    container.innerHTML = `{% translate "Hier steht die SenseBox (zumindest ungefähr)." %}`;
                    return container;
                });
            }

            // rotate cards
            document.addEventListener("htmx:afterSwap", function (event) {
                // console.log("htmx:afterSwap triggered", event);

                // Überprüfe, ob das richtige Ziel aktualisiert wurde
                if (event.target.id.startsWith("compare_sensors_graph_new_data_")) {
                    console.log("New content loaded into #compare_sensors_graph_new_data_{{ permanent_name }}");

                    // Suche die dynamisch eingefügten Elemente
                    const flipCardInner = document.getElementById("flipCardInner");
                    const flipToBackBtn = document.getElementById("flipToBack");
                    const flipToFrontBtn = document.getElementById("flipToFront");

                    console.log("flipCardInner found:", flipCardInner);
                    console.log("flipToBackBtn found:", flipToBackBtn);
                    console.log("flipToFrontBtn found:", flipToFrontBtn);

                    // Falls ein Element fehlt, Fehler ausgeben
                    if (!flipCardInner || !flipToBackBtn || !flipToFrontBtn) {
                        console.error("One or more elements are missing!");
                        return;
                    }

                    // Event-Listener hinzufügen
                    flipToBackBtn.addEventListener("click", function () {
                        console.log("Back button clicked");
                        flipCardInner.style.transform = "rotateY(180deg)";
                    });

                    flipToFrontBtn.addEventListener("click", function () {
                        console.log("Front button clicked");
                        flipCardInner.style.transform = "rotateY(0deg)";
                    });

                    console.log("Event listeners attached successfully");
                }
            });

        </script>

    {% endif %}

</div>


