<div class="container">
    <div class="row my-4">
        {% for sensor in list_of_dicts_with_rows_and_graphs %}
            {% with counter=forloop.counter %}

                <div class="col-12 col-md-4 align-self-center my-4 d-flex">
                    <div class="card bg-success flex-fill" style="--bs-bg-opacity: .8">
                        {% for key, value in sensor.items %}
                            {% if key == 'row' %}
                                <div class="d-flex flex-column justify-content-center align-items-center">
                                    {% if value.title.0 == 'Lufttemperatur' or value.title.0 == 'Temperatur' %}
                                        <i class="fa-solid fa-temperature-low mt-4 fa-4x"></i>
                                    {% elif value.title.0 == 'Bodenfeuchte' %}
                                        <i class="fa-solid fa-droplet mt-4 fa-4x"></i>
                                    {% elif value.title.0 == 'PM10' or value.title.0 == 'PM2.5' %}
                                        <i class="fa-solid fa-smog mt-4 fa-4x"></i>
                                    {% elif value.title.0 == 'Luftdruck' %}
                                        <i class="fa-solid fa-arrow-up-right mt-4 fa-4x"></i>
                                    {% elif value.title.0 == 'Luftfeuchtigkeit' %}
                                        <i class="fa-solid fa-droplet-percent mt-4 fa-4x"></i>
                                    {% elif value.title.0 == 'Lautstärke' %}
                                        <i class="fa-solid fa-volume-high mt-4 fa-4x"></i>
                                    {% else %}
                                        <i class="fa-solid fa-gauge mt-4 fa-4x"></i>
                                    {% endif %}
                                </div>

                                <div class="card-body text-center">
                                    <h5 class="card-title">{{ value.title.0 }}</h5>
                                    {% if box == 'all' %}
                                        <p class="mb-0" style="font-size: 1rem">aktueller Mittelwert</p>
                                        <p class="card-text mt-0" style="font-size: 2rem">{{ value.value.0 }} {{ value.unit.0 }}</p> {# <i class="fa-solid fa-empty-set"></i> #}
                                    {% else %}
                                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ value.name.0 }}</h6>
                                        <p class="card-text" style="font-size: 2rem">{{ value.value.0 }} {{ value.unit.0 }}</p>
                                        <p class="text-muted mb-0">aktueller Mittelwert</p>
                                        <p class="text-muted mt-0">{{ value.value_avg.0 }} {{ value.unit.0 }}</p>
                                    {% endif %}
                                </div>
                            {% elif key == 'graph' %}
                                <div class="p-1" id="single_location_graph_{{ counter }}">
                                    {{ value|safe }}
                                </div>
                            {% endif %}

                        {% endfor %}
                    </div>
                </div>

            {% endwith %}

            {% comment %}
            {% endcomment %}
        {% endfor %}
    </div>
</div>
