{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}


    <section class="s-content ">
        <div class="row">
            <div class="column large-12">
                <div class="row">
                    {% for post in all_posts %}
                        {% with post=post.specific %}
                            <div class="large-4 mob-12 column" style="border-bottom: 1px solid var(--color-border); border-right: 1px solid var(--color-border);">
                                <a href="{% pageurl post %}">
                                    {% image post.body.0.value.title_image fill-800x533 as image %}
{#                                    <h1>{{ post.title }}</h1>#}
                                    <h1>{{ post.body.0.value.title_text }}</h1>
                                    <img src="{{ image.url }}" alt="{{ image.alt }}">

                                </a>

                                {{ post.body.0.value.content.0 }}

                                <p>
                                    <a class="btn h-full-width" href="{% pageurl post %}">Lesen</a>
                                </p>

                            </div>

                        {% endwith %}
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% comment %}

<div class="section text-center">
    <div class="container">
        <div class="row my-5">
            {% for post in posts %}
                {% with post=post.specific %}

                    {% image post.header.0.value.header_image fill-800x533 as image %}
                    <div class="col-md-4 col-sm-6 col-xs-12 d-flex mt-7">
                        <div class="card flex-fill" data-animation="true">
                            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                                <a class="d-block blur-shadow-image">
                                    <img src="{{ image.url }}" alt="{{ image.alt }}"
                                         class="img-fluid shadow border-radius-lg">
                                </a>
                                <div class="colored-shadow"
                                     style="background-image: url('{{ image.url }}');"></div>
                            </div>
                            <div class="card-body text-center">


                                <div class="d-flex mt-n6 mx-auto">
                                    {% if post.category %}
                                        <span class="badge bg-secondary mx-1">{{ post.category }}</span>
                                    {% else %}
                                        <div class="my-3"></div>
                                    {% endif %}
                                </div>


                                <h5 class="font-weight-normal mt-4">
                                    <a href="{% pageurl post %}">{{ post.title }}</a>
                                </h5>
                                <p class="mb-0">
                                    {{ post.intro|richtext }}
                                </p>
                            </div>
                            <hr class="dark horizontal my-0">
                            <div class="card-footer d-flex">
                                <a class="btn btn-outline-secondary" href="{% pageurl post %}" role="button">Lesen</a>
                            </div>
                        </div>
                    </div>
                {% endwith %}
            {% endfor %}
        </div>
    </div>
</div>
{% endcomment %}
