{% load static wagtailcore_tags wagtailimages_tags %}

{% image self.title_image fill-1280x800 as image %}

<section class="s-content ">


    <div class="row">
        <div class="column large-12">

            <article class="s-content__entry">

                <div class="row">
                    <div class="column large-12">

                        <article class="s-content__entry format-standard">

                            <div class="s-content__media">
                                <div class="s-content__post-thumb">
                                    <img src="{{ image.url }}" alt="{{ image.url }}">
                                </div>
                            </div> <!-- end s-content__media -->

                            <div class="s-content__entry-header">
                                <h1 class="s-content__title s-content__title--post">{{ self.title_text }}</h1>
                            </div> <!-- end s-content__entry-header -->

                            <div class="s-content__primary">

                                <div class="s-content__page-content" style="border-bottom: 1px solid var(--color-gray-2); margin-bottom: var(--vspace-2);">

                                    {% for block in self.content %}
                                        {% if block.block_type == 'paragraph' %}
                                            {% include 'blocks/blog_paragraph.html' %}
                                        {% elif block.block_type == 'image' %}
                                            {% include 'blocks/blog_image.html' %}
                                        {% elif block.block_type == 'button' %}
                                            {% include 'blocks/blog_button.html' %}
                                        {% elif block.block_type == 'image_with_text' %}
                                            {% include 'blocks/blog_image_with_text.html' %}
                                        {% else %}
                                            {% include_block block %}
                                        {% endif %}
                                    {% endfor %}

                                </div> <!-- end s-entry__entry-content -->

                            </div> <!-- end s-content__primary -->
                        </article> <!-- end entry -->

                    </div> <!-- end column -->
                </div> <!-- end row -->
            </article>
        </div>
    </div>

</section>