{% load static wagtailcore_tags wagtailimages_tags navigation_tags %}

<section class="s-folio target-section">

    <div class="row image-header">
        <img src="{% static 'logo/safari-pinned-tab-inverted.svg' %}" style="transform: rotate(80deg);" alt="Biene">
        <h3>{{ self.header }}</h3>
    </div> <!-- end section-header -->


    <div id="bricks" class="row bricks">
        <div class="column lg-12 masonry">
            <div class="bricks-wrapper">

                <div class="grid-sizer"></div>

                {% comment %}<div class="s-bricks s-bricks--half-top-padding">

    <div class="masonry">
        <div class="bricks-wrapper h-group">

            <div class="grid-sizer"></div>

            <div class="lines">
                <span></span>
                <span></span>
                <span></span>
            </div>{% endcomment %}

                {% for brick in self.brick_list %}
                    {% random_string as five_numbers %}

                    <article class="brick entry {% if brick.double %}brick--double{% endif %}" data-aos="fade-up">

                        <div class="entry__thumb">
                            <a href="#modal-{{ forloop.counter }}{{ five_numbers }}" class="entry__link glightbox">
                                {#                                {% image brick.image fill-800x800 as image %}#}
                                {% picture brick.image format-{avif,webp,jpeg} fill-800x800 sizes="90vw" %}
                                {#                                <img src="{{ image.url }}" alt="{{ image.alt }}">#}

                                <div class="entry__info">
                                    {#                                <div class="entry__cat">E-Commerce</div>#}
                                    <h4 class="entry__title">{{ brick.text }}</h4>
                                </div>
                            </a>
                        </div> <!-- end entry__thumb -->

                        {% comment %}<div class="entry__text">
                        <div class="entry__header">
                            <h1 class="entry__title">{{ brick.header }}</h1>

                            <div class="entry__meta">
                                <span class="byline">By:
                                <span class='author'>
                                            <a href="#">Link</a>
                                    </span>
                                <span class="cat-links">
                                        <a href="#">Link</a>
                                    </span>
                                </span>
                            </div>

                            <div class="entry__excerpt">
                                {{ brick.text }}
                            </div>
                            <a class="entry__more-link" href="#">Some link</a>
                        </div> <!-- end entry__text -->{% endcomment %}

                    </article> <!-- end article -->

                    <div id="modal-{{ forloop.counter }}{{ five_numbers }}" hidden>
                        <div class="modal-popup">

                            {% if brick.cubic == True %}
                                {% picture brick.image format-{avif,webp,jpeg} width-1080 sizes="90vw" %}
                                {# {% image brick.image width-1080 as image %}#}
                            {% else %}
                                {# {% image brick.image fill-1920x1080 as image %}#}
                                {% picture brick.image format-{avif,webp,jpeg} fill-1920x1080 sizes="90vw" %}
                            {% endif %}

                            {# <img src="{{ image.url }}" alt="{{ image.alt }}">#}

                            <div class="modal-popup__desc">
                                {{ brick.text }}
                            </div>

                            {# <a href="#" class="modal-popup__details">Some link</a>#}
                        </div>
                    </div> <!-- end modal -->

                {% endfor %}
            </div>
        </div>
    </div>
</section>