{% load wagtailcore_tags %}

<section class="s-content ">
    <div class="row">
        <div class="column large-12">
            <article class="s-content__entry">
                <div class="row">
                    <div class="column large-12">
                        <article class="s-content__entry format-standard">
                            <div class="s-content__primary">
                                <div class="s-content__page-content" style="border-bottom: 1px solid var(--color-gray-2); margin-bottom: var(--vspace-2);">
                                    {{ self.paragraph|richtext }}
                                </div> <!-- end s-entry__entry-content -->
                            </div> <!-- end s-content__primary -->
                        </article> <!-- end entry -->
                    </div> <!-- end column -->
                </div> <!-- end row -->
            </article>
        </div>
    </div>
</section>
